p {
    color: skyblue;
    font-size: 25px;
    font-family: arial;
    font-style: italic;
}

body {
    background-color: lightpink;
    text-align: center;
}

li {
    color: blue;
    list-style: disc;
}
#special {
    color: green;
    font-size: 30px;
}
.cool {
    color: brown;

}
.square {
    text-align: right;
    height: 250px;
    width: 250px;
    background: yellow;
    border-radius: 15px;
    border: dotted 3px lightblue;
    margin: 0 auto;
    padding: 40px;
    transition: all .2s ease-in-out;
}
.square:hover {
    height: 400;
    background-color: darkgreen;
    cursor: pointer;

}
#coolsquare {
    background-color: red;
}
#uncoolsquare {
    background-color: blue;
}
